<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <title>Angular Friends</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body ng-controller="FriendCtrl">
  <h1>The <strong>facebook</strong> Friend Machine</h1>

  <div class="friends">
    <form class="form-inline searchForm" role="form">
      <div class="form-group">
        <input class="form-control" placeholder="Search Name" ng-model="filter.name">
        <input class="form-control" placeholder="Search State" ng-model="filter.state">
        <br>
        Sort By: 
        <select class="input-medium" ng-model="sortProp">
          <option value="name">Name</option>
          <option value="friend_count">#Friends</option>
          <option value="city">City</option>
          <option value="state">State</option>
          <option value="country">Country</option>
        </select>

        <select class="input-medium" ng-model="sortDirection">
          <option value="-">Descending</option>
          <option value="+">Ascending</option>
        </select>
      </div>
    </form>
    <ul>
      <li class='friend' ng-repeat="friend in friends | filter:filter.name | filter:filter.state | orderBy:sortDirection + sortProp">
        <img class="profile-pic" src='{{friend.pic_square}}'>
        <div class="name">
          <h3>{{friend.name}}</h3>          
        </div>  

        <div class="location">
          Location: {{friend.location.city}}, {{friend.location.state}}, {{friend.location.country}}
        </div>
        <div class="status">
          Status: {{friend.status}}
        </div>
        <div class="num-friends">
          Friends: {{friend.friend_count}}
        </div>
      </li>
    </ul>
  </div>

  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- your scripts here -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>
  <script src="./app/app.js"></script>
  <script src="./app/FriendCtrl.js"></script>
</body>
</html>
